body {
    /* font-family: "Lato", sans-serif;*/
 }
@media screen and (max-width: 1024px){
    .mainP{
        padding-left: 0 !important;
    }
.mobile_inner_menu {
    display: block;
    position: fixed;
    background-color: white;
    top: 64px;
    width: 100%;
    right: 0;
    border-top: 1px solid #e3e3e3;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 99999;
    height: 95vh;
    opacity: 0.99;
}

.mobile_menu_bar {
        display: block;
        width: 100%;
        height: 65px;
        position: fixed;
        background-color: white;
        z-index: 99999999999999;
    }
    .mobile_menu img {
        cursor: pointer;
    }
.mobile_menu_bar img {
    float: left;
    position: fixed;
    top: 13px;
    left: 11px;
}
.mobile_menu_bar {
        width: 100%;
        height: 65px;
    }
    .mobile_menu_bar img {
        float: left;
        position: fixed;
        top: 13px;
        left: 11px;
    }
    .menu_text {
        /* MENU: */
        
        font-family: ProximaNova-Semibold;
        font-size: 12px;
        color: #000000;
        letter-spacing: 2.57px;
    }
    .mobile_menu {
        display: block;
        position: fixed;
        right: 13px;
        top: 20px;
        background: white;
        z-index: 999;
    }
    .mobile_inner_menu {
        display: block;
        position: fixed;
        background-color: white;
        top: 64px;
        width: 100%;
        right: 0;
        border-top: 1px solid #e3e3e3;
        padding-top: 50px;
        padding-bottom: 50px;
        z-index: 99999;
        height: 95vh;
        opacity: 0.99;
    }
    .mobile_inner_menu div {
        margin-left: 7%;
    }
    .mobile_inner_menu div p {
        font-size: 14px;
        text-transform: uppercase;
        font-family: ProximaNova-Semibold;
        letter-spacing: 3px;
        margin-bottom: 30px;
        /* width: 213px; */
        
        border-bottom: 1px solid #999;
        width: 140px;
        padding-bottom: 0px;
    }
    .mobile_inner_menu div p a {
        color: #999;
        border-bottom: none !important;
    }

.menu_icon {
    position: relative !important;
    margin-right: 10px;
    margin-top: -10px;
}
}
 .sidenav {
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     overflow-x: hidden;
     padding-top: 20px;
     overflow-y: scroll;    
      float: left;
     width: 13%;
     height: 100%;
     background-color: #fff;
 }
 .menu_logo {
     position: static;
     width: 100%;
     text-align: center;
     top: auto;
 }
 .sidenav img {
     margin-top: 5px;
     margin-bottom: 50px;
 }
 .fixed_menu {
     position: static;
     top: auto;
     text-align: left;
     width: 10%;
      
 }
 
 
 .fixed_menu ul {
     float: none;
     margin-left: -12px;
     width: 130px;
 }
 .fixed_menu ul li {
     
     font-family: ProximaNova-Semibold;
     font-size: 13px;
     letter-spacing: 2px;
     list-style: none;
     text-transform: uppercase;
     padding-bottom: 0px;
     padding-top: 19px;
     margin-bottom: 10px;
 }
 .fixed_menu ul li a:hover {
     border-bottom: 1px solid #000;
     text-decoration: none;
 }
 .fixed_menu ul li a {
     color: #999;
     position: relative;
     display: inherit;
     -webkit-transition: 0.6s;
     -o-transition: 0.6s;
     transition: 0.6s;
     border-bottom: 1px solid #999;
     text-decoration: none;
 }
 /*menu effect*/
 
 .fixed_menu ul li a span {
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 0;
     margin-top: 0px;
     height: 100%;
     overflow: hidden;
     -webkit-transition: 0.6s;
     -o-transition: 0.6s;
     transition: 0.6s;
     border-bottom: 1px solid #000;
 }
 .fixed_menu ul li a span:before {
     content: attr(rel);
     position: absolute;
     margin: 0;
     left: 0;
     top: 0;
     padding: 0;
     color: #000;
 }
 .fixed_menu ul li a:hover span {
     width: 100%;
 }
 
 .main {
     margin-left: 160px; /* Same as the width of the sidenav */
     font-size: 28px; /* Increased text to enable scrolling */
     padding: 0px 10px;
 }
 
 
 
 #myVerticalCarousel {
             height: 100%;
             margin: 0;
         }
 
         .item {
             text-align: center;
         }
         #head-side1{
              position: relative;
             font-family: 'FreightBig Pro';
             color: #000000;
              background-color: #F3F3F3;
             
         }
         #head-side2{
            
              background-color: #F3F3F3;
             
         }
    .top-left .sHead{
     position: absolute;
     top: 20%;
     left: 10%;
     font-size: 45px;
     line-height: 53px;
     
 } 
   .top-left p{
     position: absolute;
     top: 40%;
     left: 10%;
     font-size: 20px;
     font-family: ProximaNova-Light;
     max-width: 40%;
     text-align: left;
 
 } 
         .footer {
     border-top: 1px solid #979797;
     background-color: #000;
 }
 .footer.page {
     padding-top: 80px;
     padding-bottom: 30px;
     z-index: 99;
 }
 .top-left .sIcon{
     position: absolute;
     top: 65%;
     left: 11%;    
 } 
 
     .sIcon p{
     /*position: absolute;*/
     top: 98%;
     font-size: 10px;
     font-family: ProximaNova-Light; 
     text-align: center !important; 
     margin-top:10px;
     }
         .foooter_social_link {
              margin-bottom: 40px;
              margin-top: 30px;
         }
     
         .foooter_social_link a {
             display: inline-block;
             position: relative;
             width: 48px;
             height: 48px;
             border-radius: 50%;
             border: 1px solid #3f4046;
             margin: 0 10px;
         }
         .foooter_social_link .fa {
             position: absolute;
             left: 50%;
             top: 50%;
             transform: translate(-50%, -50%);
             font-size: 25px;
         }
         .fa {
     color: #fff;
     -o-transition: color 0.5s linear;
     -moz-transition: color 0.5s linear;
     -khtml-transition: color 0.5s linear;
     -webkit-transition: color 0.5s linear;
     -ms-transition: color 0.5s linear;
     transition: color 0.5s linear;
 }
 .fa:hover {
     color: #ff2f92;
 }
 .h1_centered {
  
     line-height: 1 !important;
 }
     .text-center {
     text-align: center!important;
 }
 .div_center {
     float: none;
     margin: auto;
 }
 .section_five {
     background-color: #F3F3F3;
     /* Background: */
 }
 #land_sec_5 {
     padding-bottom: 100px;
     padding-top: 100px;
 }
 .h1_centered {
     font-size: 52px;
     color: #000000;
     line-height: 53px;
     font-family: "georgia";
 }
 .large_body_centered_black {
     font-size: 18px;
     color: black;
     font-family:  ProximaNova-Light;
     text-align: center;
 }
 .large_body_lefted_black {
    font-size: 18px;
    color: black;
    font-family:  ProximaNova-Light;
    text-align: left;
}

 h2 {
     font-size: 32px;
     line-height: 43px;
 }
 .nr_newsletter {
     padding-bottom: 14px;
 }
 #stayintouch h2 {
     padding: 0 0 .5em;
 }
 .email{
     width: 100% !important;
     padding-top: 10px;
     background-color: #FFFFFF !important;
     border: 1px solid #DFDFDF;
     border-radius: 5px;
     font-family:  ProximaNova-Light;
     font-size: 18px;
     letter-spacing: 0px;
     height: 52px;
     padding-left: 15px;
     color:#DFDFDF;
 }
 .header_case_study_black {
     font-size: 14px;
     text-transform: uppercase;
     font-family: ProximaNova-Semibold;
     letter-spacing: 3px;
 }
 .header_case_study_black input[type='submit'] {
     padding-top: 52px;
 }
 .header_case_study_black input[type="submit"] {
     background-color: transparent;
     color: #000;
     border-bottom: 3px solid #000 !important;
     float: none;
     margin: auto;
     display: block;
     padding-left: 0px;
     padding-right: 0px;
     text-align: left;
     font-family: ProximaNova-Semibold;
     font-size: 14px;
     letter-spacing: 3px;
     border: 0px;
     text-transform: inherit;
 }
 input[type="submit"] {
     -webkit-appearance: button;
     cursor: pointer;
 }
 .view-more {
     font-size: 14px;
     text-transform: uppercase;
     font-family: ProximaNova-Semibold;
     letter-spacing: 3px;
     border-bottom: 2px solid black;
     display: inline-block;
     padding-bottom: 2px;
     top:80% !important;
 }

 .middle-right .sHead{
    position: absolute;
    top: 20%;
    left: 12%;
    font-size: 45px;
    line-height: 53px;
    
} 
  .middle-right p{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 20px;
    font-family: ProximaNova-Light;
    text-align: left;

} 


.middle-right .view-more {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 2px;
    top:90% !important;
}

 .middle-left .sHead{
    position: absolute;
    top: 20%;
    left: 22%;
    font-size: 45px;
    line-height: 53px;
    
} 
  .middle-left p{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 20px;
    font-family: ProximaNova-Light;
    text-align: left;

} 


.middle-left .view-more {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 2px;
    top:85% !important;
}
.brand-development{
    background-color: #fafafa;
}
.icon_font{
    font-size: 9px;
    margin-top: 10px;
     padding: 0;
     font-weight: bold !important;;
}